@model COVID19.Models.DadoCovid

@{
    ViewData["Title"] = "Editar dado";
}

<h1>Editar dado</h1>

<h4>Covid-19</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="mortes" class="control-label"></label>
                <input asp-for="mortes" class="form-control" />
                <span asp-validation-for="mortes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmados" class="control-label"></label>
                <input asp-for="confirmados" class="form-control" />
                <span asp-validation-for="confirmados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recuperados" class="control-label"></label>
                <input asp-for="recuperados" class="form-control" />
                <span asp-validation-for="recuperados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paisId" class="control-label"></label>
                <select asp-for="paisId" class="form-control" asp-items="ViewBag.paisId"></select>
                <span asp-validation-for="paisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
