@model COVID19.Models.Pais

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>País</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomePais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomePais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idPais" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn">Voltar à lista</a>
</div>
